body {
	background: white;
	margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: 'Muli', sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  }
  
  /* Coverflow Album */
		

  .coverflow {
	position: relative;
	height: 460px;
	padding: 30px;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	cursor:pointer;
  }
  
  .coverflow__image {

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	width: 400px;
	height: 400px;
	-webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .coverflow__image[data-coverflow-index] {
	position: absolute;
	left: 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
  }
  
  .coverflow__image[data-coverflow-index]:before {
	content: " ";
	z-index: 1;
	position: absolute;
	top: 300px;
	width: 100%;
	height: 10%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="1"] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="2"] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="3"] {
	z-index: 8;
	-webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
	transform: translateX(100px) scale(0.5) rotateY(-45deg);
	opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="4"] {
	z-index: 7;
	-webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
	transform: translateX(190px) scale(0.35) rotateY(-45deg);
	opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="5"] {
	z-index: 6;
	-webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
	transform: translateX(280px) scale(0.2) rotateY(-45deg);
	opacity: 0;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="1"] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="2"] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="3"] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="4"] {
	z-index: 8;
	-webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
	transform: translateX(100px) scale(0.5) rotateY(-45deg);
	opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="5"] {
	z-index: 7;
	-webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
	transform: translateX(190px) scale(0.35) rotateY(-45deg);
	opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="1"] {
	z-index: 8;
	-webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
	transform: translateX(-500px) scale(0.5) rotateY(45deg);
	opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="2"] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="3"] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="4"] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="5"] {
	z-index: 8;
	-webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
	transform: translateX(100px) scale(0.5) rotateY(-45deg);
	opacity: 0.33333;
  }
  
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="1"] {
	z-index: 7;
	-webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
	transform: translateX(-590px) scale(0.35) rotateY(45deg);
	opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="2"] {
	z-index: 8;
	-webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
	transform: translateX(-500px) scale(0.5) rotateY(45deg);
	opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="3"] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="4"] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="5"] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
  }
  
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="1"] {
	z-index: 6;
	-webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
	transform: translateX(-680px) scale(0.2) rotateY(45deg);
	opacity: 0;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="2"] {
	z-index: 7;
	-webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
	transform: translateX(-590px) scale(0.35) rotateY(45deg);
	opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="3"] {
	z-index: 8;
	-webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
	transform: translateX(-500px) scale(0.5) rotateY(45deg);
	opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="4"] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="5"] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  
  
  
  

/** Dispaly Panel **/


.panel {
  display: table;
  text-align: center;
	position: absolute;

	width: 100%;
  height: 100%;
}

.inner {
 display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 1.0em;
}
.panel:nth-of-type(7) { background-color: black; }



/*BORDER BACK*/
.borderBack
{
  border: 3px solid white;
  background-color:rgba(0,0,0,0.4);
	z-index:99;
	margin-top: 60vh;

}


/*BUTTON*/
.button {
  margin-top:10px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  padding: 15px 30px;
  border: solid 3px white;
  border-radius: 3px;
  font: bold 12px sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  transition: .25s;

}
  
 
  
  