/** Elastic Slider **/

.slider div p{color:#1c1c1c;position:absolute;bottom:-65px; font-family:'Muli'; font-size:14px;}
.slider{
    margin:60px auto 0 auto;
    height:480px;
    width:340px;
    top:100px;
    perspective:1000px;
       transition:ease-in-out .2s;
}

/** For Each Photo **/
.slide img { text-align:center;width:100%; height:100%; -webkit-user-drag:none;-moz-user-drag:none; border-radius:2px; }
.slide{
      -webkit-user-select:none;
      user-select:none;
      -moz-user-select:none;
      position:absolute;
      height:400px;
      width:360px;

      box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
      background:#fcfcfc;
             -webkit-transform-style:preserve-3d;
              transform-style:preserve-3d;
            -moz-transform-style:preserve-3d;
             text-align:center;
             /*overflow:hidden;*/
             border:12px white solid;
             box-sizing:border-box;
             border-bottom:55px white solid;
             border-radius:5px;    
}
.transition {
     -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
   -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
      transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}
